
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(54, 50, 50);
    --second: rgb(232, 123, 123);
}

/* =====WRAPPER====== */

.wrapper{
    width: 550px;
    margin: 50px auto;
    background-color: var(--primary);
    padding: 25px;
}

/* addtask */
.addTask{
    margin-bottom: 30px;
}

#formAdd{
    display: flex;
    justify-content: space-between;
}

#Name{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px ;
    padding-left: 0; 
    padding-right: 150px;
    
    border-bottom: 2px solid var(--second);
}

input::placeholder{
    color: var(--second);
    
}

button{
    border: none;
    font-size: 18px;
    padding: 12px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: rgb(248, 110, 110);
    color: aliceblue;
}

/* showTask */

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid gray;
    margin-bottom: 8px;
}

li[is_complete = true] p{
    text-decoration: line-through;
    color: gray;
}

li p{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.bx{
    font-size: 20px;
    color: gray;
    /* cursor: pointer; */
}

.bx:hover{
    color: aliceblue;
}

.bx:first-child{
    margin-right: 15px;
}

/* completed */
.completed{
    margin-top: 20px;
}
.completed p{
    font-size: 17px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}